.button {
  position: absolute;
}
.startBtn {
  color: #FFFFFF;
  background-color: red;
  border: 1px solid darkred;
  border-radius: 5px;
  box-shadow: 0px 10px 0px darkred;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  width: 200px;
  height: 100px;
  font-size: 20;
}
.startBtn:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}
