body {
    background-image: radial-gradient(circle, rgb(47, 47, 52), rgb(16, 16, 19));
    background-position: center;
    height: 100vh;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    user-select: none;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 10vmin;
    user-select: none;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    font-size: 3vmin;
    color: white;
    transition: color .25s;
    display: block
}

a:hover {
    color:rgb(81, 81, 117);
}

#logos {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#logos > a {
    font-size: 4vmin;
    display: inline;
}

